$content-width: 1050px;
$main: #2E9CCA;
$font-style: 'Computer Modern Serif', sans-serif;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: $main;
$heading-font: 'Computer Modern Serif', sans-serif;
$heading-font-color: #AAABB8;
$light: #E7EDF4;
$header:  #25274D;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 